.fl {
  float: left;
}
.fr {
  float: right;
}
.clear:after {
  content: '.';
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
  visibility: hidden;
}
.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.center-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

